.header
    width: 100%
    position: sticky
    top: 0
    left: 0
    z-index: 100000
    background-color: #dcc009
.container
    display: flex
    margin: 0 auto
    align-items: center
    justify-content: space-between
